<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_with(data: { turbo: false }) do |form| %>
    <fieldset>
      <legend>ログインしてください</legend>
      <div>
        <%= form.label :name, "名前:" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :password, "パスワード:" %>
        <%= form.password_field :password %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    </fieldset>
  <% end %>
</div>
