<div class="depot_form">
  <%= form_with(model: user, data: { turbo: false }) do |form| %>
    <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <legend>ユーザ情報の入力</legend>
      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name, size: 40 %>
      </div>

      <div>
        <%= form.label :password, "パスワード", style: "display: block" %>
        <%= form.text_field :password, size: 40 %>
      </div>

      <div>
        <%= form.label :password_confirmation, "確認", style: "display: block" %>
        <%= form.text_field :password_confirmation, size: 40 %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    </fieldset>
  <% end %>
</div>
