<%= form_with(model: order, local: true, data: { turbo: false }) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" style="color: red">
      <h2><%= raw t("errors.template.header", 
                    count: @order.errors.count, 
                    model: t("activerecord.models.order")) 
          %>.
      </h2>
      <p><%= t("errors.template.body") %></p>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= raw error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t("order.form.name"), style: "display: block" %>
    <%= form.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :address, t("order.form.address"), style: "display: block" %>
    <%= form.text_area :address, rows: 3, cols: 40 %>
  </div>

  <div class="field">
    <%= form.label :email, t("order.form.email"), style: "display: block" %>
    <%= form.text_field :email, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :pay_type, t("order.form.pay_type"), style: "display: block" %>
    <%= form.select :pay_type, Order::PAYMENT_TYPES, prompt: t("order.form.pay_prompt_html") %>
  </div>

  <div>
    <div class="action">
      <%= form.submit t("order.form.submit") %>
    </div>
  </div>
<% end %>
