<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books オンラインストア</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag("ruby.jpg", class: "logo") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
          <%= render @cart %>
        </div>

        <ul>
          <li><a href="#">ホーム</a></li>
          <li><a href="#">よくある質問</a></li>
          <li><a href="#">ニュース</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
